{% extends 'layout.html.twig' %}

{% block title %}
    Participant {{ participant.code }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}
    <!-- Hero -->
    <section class="hero-tabs">
        <h1>PARTICIPANT</h1>
        <h3>{{ participant.code }}</h3>
        <div class="hero-tabs-container">
            <a class="hero-tab" href="#tab-verification">Vérification des critères d'éligibilité</a>
            <a class="hero-tab" href="#tab-donnees">Données cardiovasculaires</a>
            <a class="hero-tab" href="#tab-informations">Information sur l'évênement cardiovasculaire</a>
            <a class="hero-tab" href="#tab-evenement">Données à 6 mois de l'évênement</a>
            <a class="hero-tab" href="#tab-deces">Fiche décès</a>
            <span class="hero-tab-slider"></span>
        </div>
    </section>

    <!-- Main -->
    <main class="main">
        <section class="slide" id="tab-verification">
            <h1>ES6</h1>
            <h3>something about es6</h3>
        </section>
        <section class="slide" id="tab-donnees">
            <h1>Flexbox</h1>
            <h3>something about flexbox</h3>
        </section>
        <section class="slide" id="tab-informations">
            <h1>React</h1>
            <h3>something about react</h3>
        </section>
        <section class="slide" id="tab-evenement">
            <h1>Angular</h1>
            <h3>something about angular</h3>
        </section>
        <section class="slide" id="tab-deces">
            <h1>Other</h1>
            <h3>something about other</h3>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        $('ul li').on('click', function() {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        class StickyNavigation {
            
            constructor() {
                this.currentId = null;
                this.currentTab = null;
                this.tabContainerHeight = 70;
                this.navbar =  80;
                let self = this;
                $('.hero-tab').click(function() { 
                    self.onTabClick(event, $(this)); 
                });
                $(window).scroll(() => { this.onScroll(); });
                $(window).resize(() => { this.onResize(); });
            }
            
            onTabClick(event, element) {
                event.preventDefault();
                let scrollTop = $(element.attr('href')).offset().top - this.tabContainerHeight + 1;
                $('html, body').animate({ scrollTop: scrollTop }, 600);
            }
            
            onScroll() {
                this.checkTabContainerPosition();
                this.findCurrentTabSelector();
            }
            
            onResize() {
                if(this.currentId) {
                    this.setSliderCss();
                }
            }
            
            checkTabContainerPosition() {
                let offset = $('.hero-tabs').offset().top + $('.hero-tabs').height() - this.tabContainerHeight;
                if($(window).scrollTop() > offset)
                    $('.hero-tabs-container').addClass('hero-tabs-container--top');
                else
                    $('.hero-tabs-container').removeClass('hero-tabs-container--top');
            }
            
            findCurrentTabSelector(element) {
                let newCurrentId;
                let newCurrentTab;
                let self = this;
                $('.hero-tab').each(function() {
                    let id = $(this).attr('href');
                    let offsetTop = $(id).offset().top - self.tabContainerHeight;
                    let offsetBottom = $(id).offset().top + $(id).height() - self.tabContainerHeight;
                    if($(window).scrollTop() > offsetTop && $(window).scrollTop() < offsetBottom) {
                        newCurrentId = id;
                        newCurrentTab = $(this);
                    }
                });
                if(this.currentId != newCurrentId || this.currentId === null) {
                    this.currentId = newCurrentId;
                    this.currentTab = newCurrentTab;
                    this.setSliderCss();
                }
            }
            
            setSliderCss() {
                let width = 0;
                let left = 0;
                if(this.currentTab) {
                    width = this.currentTab.css('width');
                    left = this.currentTab.offset().left - this.navbar;
                }
                $('.hero-tab-slider').css('width', width);
                $('.hero-tab-slider').css('left', left);
            }
            
        }

        new StickyNavigation();
    </script>
{% endblock %}