/*
*
*   INDEX
*
*/

.actionBar .glyphicon-search,
.actionBar .glyphicon-refresh {
    -webkit-text-stroke: 0.75px black;
}

.btn-group .glyphicon-search {
    -webkit-text-stroke: 0.75px white;
}

.title-wrapper {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #1a535c;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-top: 60px;
    padding-left: 20px;
}

td .btn-default {
    border-color: black;
}

.command-view {
    background-color: #3CBDA5;
}

.command-view:hover {
    background-color: #55d6be;
}

.command-edit {
    background-color: #1a535c;
}

.command-edit:hover {
    background-color: #35595f;
}

.command-delete {
    background-color: #d63b53;
}

.command-delete:hover {
    background-color: #da6375;
}

.command-edit .fa,
.command-view .fa,
.command-delete .fa {
    color: #f4f9f7;
}

/* ========= TABLE ========= */

.bootgrid-footer {
    z-index: -1;
}

.table {
    overflow: hidden;
    margin-bottom: 0;
}

.table th {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    line-height: 1.4;
    background-color: #55d6be;
}

.table th:active,
.table th:hover {
    background: #3CBDA5;
}

.table th span,
.table th {
    color: #f4f9f7;
}

.bootgrid-table tr {
    cursor: pointer;
}

.bootgrid-table td {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f8f6ff;
}

.table-hover>tbody>tr:hover {
    background-color: #c2dad5;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 10px;
}

/* ========= PAGINATION ========= */

.pagination li a {
    border: none;
    border-radius: 50%;
    margin: 0 1px;
    color: #808080;
    cursor: pointer;
}

.pagination li:hover a {
    color: #3CBDA5;
}

.pagination li.active a {
    color: #808080;
    background-color: transparent;
    border: 1px solid #55d6be;
}

.pagination li.active:hover a {
    color: #f4f9f7;
    background-color: #55d6be;
    border-color: #3CBDA5;
}

.pagination li.last a,
.pagination li.first a {
    border-radius: 50%;
}

/* .pagination li.disabled {
    visibility: hidden;
} */

/* ========= Participant ========= */

.hero-tabs,
.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 0 2em;
}

.hero-tabs h1,
.slide h1 {
    margin: 0;
}

.hero-tabs h3,
.slide h3 {
    opacity: 0.6;
}

.hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 10;
}

.hero-tabs-container--top {
    position: fixed;
    top: 0;
    width: calc(100% - 80px);
}

.hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    padding: 0 5px;
}

.hero-tab:hover {
    color: white;
    background: rgb(59, 189, 166, 0.8);
    transition: all 0.5s ease;
}

.hero-tab, .hero-tab:visited, .hero-tab:focus {
    text-decoration: none;
}

.hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #1a535c;
    transition: left 0.3s ease;
}

.hero-text {
    position: absolute;
    color: #f4f9f7;
}

/* ========= Participant - create ========= */

.form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.form > ul {
    font-size: 14px;
    color: #f4f9f7;
    background-color: #d63b53;
    padding: 10px 15px;
    margin-bottom: 10px;
}

input[readonly], textarea[readonly]:focus, input[readonly]:focus {
    border: 1px solid #d63b53;
}

.container-form {
    width: 100%;
    padding: 50px 0px 55px 0px;
}

.container-form .input {
    height: 42px;
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border-radius: 3px;
    margin-bottom: 16px;
    padding: 0 20px;
}

.container-form .wrap-input {
    background-color: transparent;
    margin-bottom: 0px;
}

.container-form .focus-input {
    height: calc(100% - 31px);
    top: 16px;
}

.form-btn {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 42px;
    background-color: #2892d7;
    border-radius: 3px;
    transition: all 0.4s;
}

.form-btn:disabled {
    background-color: #1a535c;
}

.container-form-btn {
    margin-top: 30px;
}

label {
    font-family: Ubuntu-Regular;
    color: #808080;
    line-height: 1.2;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.badge-danger {
    position: relative;
    background-color: #d63b53;
    margin-right: 10px;
    top: -1px;
}

.invalid-feedback {
    top: 65px;
    color: #d63b53;
    position: absolute;
}