/*
*
*   INDEX
*
*/

.actionBar .glyphicon-search, .actionBar .glyphicon-refresh {
    -webkit-text-stroke: 0.75px black;
}

.btn-group .glyphicon-search {
    -webkit-text-stroke: 0.75px white;
}

.title-wrapper {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #1a535c;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-top: 60px;
    padding-left: 20px;
}

td .btn-default {
    border-color: black;
}

.command-view {
    background-color: #55d6be;
}

.command-view:hover {
    background-color: #55d6be;
}

.command-edit {
    background-color: #1a535c;
}

.command-edit:hover {
    background-color: #35595f;
}

.command-delete {
    background-color: #d63b53;
}

.command-delete:hover {
    background-color: #da6375;
}

.command-edit .fa, .command-view .fa, .command-delete .fa {
    color: #f4f9f7;
}

/* ========= TABLE ========= */

.bootgrid-footer {
    z-index: -1;
}

.table {
    overflow: hidden;
    margin-bottom: 0;
}

.table th {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    line-height: 1.4;
    background-color: #55d6be;
}

.table th:active, .table th:hover {
    background: #55d6be;
}

.table th span, .table th {
    color: #f4f9f7;
}

.bootgrid-table tr {
    cursor: pointer;
}

.bootgrid-table td {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f8f6ff;
}

.table-hover>tbody>tr:hover {
    background-color: #c2dad5;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 10px;
}

.table-wrapper {
    flex: 1;
}

/* ========= PAGINATION ========= */

.pagination li a {
    border: none;
    border-radius: 50%;
    margin: 0 1px;
    color: #808080;
    cursor: pointer;
}

.pagination li:hover a {
    color: #55d6be;
}

.pagination li.active a {
    color: #808080;
    background-color: transparent;
    border: 1px solid #55d6be;
}

.pagination li.active:hover a {
    color: #f4f9f7;
    background-color: #55d6be;
    border-color: #55d6be;
}

.pagination li.last a, .pagination li.first a {
    border-radius: 50%;
}

/* .pagination li.disabled {
    visibility: hidden;
} */

/* ========= Participant - create ========= */

.form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.form>ul {
    font-size: 14px;
    color: #f4f9f7;
    background-color: #d63b53;
    padding: 10px 15px;
    margin-bottom: 10px;
}

input[readonly], textarea[readonly]:focus, input[readonly]:focus {
    border: 1px solid #d63b53;
}

.container-form {
    width: 100%;
    padding: 50px 0px 55px 0px;
}

.container-form .input {
    height: 42px;
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border-radius: 3px;
    margin-bottom: 16px;
    padding: 0 20px;
}

.container-form .wrap-input {
    background-color: transparent;
    margin-bottom: 0px;
}

.container-form .focus-input {
    height: calc(100% - 31px);
    top: 16px;
}

.form-btn-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.form-btn {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 42px;
    background-color: #2892d7;
    border-radius: 3px;
    transition: all 0.4s;
}

.form-btn:hover {
    background-color: #1d699c;
}

.btn-danger {
    background-color: #d63b53;
}

.btn-danger:hover {
    background-color: #a02c3e;
}

.form-btn.btn-default {
    color: #808080;
    background-color: #f4f9f7;
    border: 1px solid #ccc;
}

.form-btn.btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #808080;
}

.form-btn .fa {
    margin-right: 10px;
}

.form-btn:disabled {
    background-color: #1a535c;
}

.container-form-btn {
    margin-top: 30px;
}

.button-block {
    display: flex;
}

.button-block>* {
    margin-right: 10px;
}

.button-block>*:last-child {
    margin-right: 0px;
}

.form-space {
    margin: 30px 0;
}

label {
    font-family: Ubuntu-Regular;
    color: #808080;
    line-height: 1.2;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.badge-danger {
    position: relative;
    background-color: #d63b53;
    margin-right: 10px;
    top: -1px;
}

.invalid-feedback {
    top: 65px;
    color: #d63b53;
    position: absolute;
}

/* ========= Participant ========= */

.main {
    padding: 0 15px 0 350px;
}

.hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: flex-start;
}

.hero-header {
    width: 100%;
    padding: 0 25px 50px;
}

.hero-title {
    margin-bottom: 50px;
}

.hero-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.eligible {
    margin-left: 15px;
    border-left: 1px solid #55d6be;
    padding-left: 10px;
    display: flex;
}

.eligible h1 {
    opacity: 0.6;
    margin-right: 15px;
}

.slide {
    min-height: 100vh;
    position: relative;
    padding: 50px 0px 0 0px;
}

.slide h1 {
    position: relative;
    margin-bottom: 50px;
    font-size: 32px;
}

.hero-tabs h1 span {
    background-color: #55d6be;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.slide h1::before {
    content: "";
    position: absolute;
    border: 0;
    height: 5px;
    background-color: #1d699c;
    width: 66px;
    bottom: -5px;
}

.hero-tabs h3, .slide h3, main h3 {
    position: relative;
    display: inline-block;
    opacity: 0.6;
    margin-bottom: 10px;
}

.hero-tabs h5, .slide h5 {
    font-size: 18px;
    margin: 10px 0;
}

.margin-space {
    margin-bottom: 30px;
}

.separator-space {
    width: 50px;
    height: 1px;
    margin: 10px 0 20px 0;
    background-color: #55d6be;
}

.hero-tabs-container {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 10;
}

.hero-tabs-container--top {
    position: fixed;
    top: 0;
    width: calc(100% - 80px);
}

.hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    padding: 0 5px;
}

.hero-tab:hover {
    color: white;
    background: rgb(59, 189, 166, 0.8);
    transition: all 0.5s ease;
}

.hero-tab, .hero-tab:visited, .hero-tab:focus {
    text-decoration: none;
}

.hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #1a535c;
    transition: left 0.3s ease;
}

.hero-text {
    position: absolute;
    color: #f4f9f7;
}

.qcm {
    margin-bottom: 40px;
}

.qcm-row {
    /* margin-bottom: 15px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1d699c;
}

.qcm-row .input {
    height: 58px;
    margin-bottom: 0;
}

.qcm-question {
    width: 65%;
}

.qcm-question input[readonly], .qcm-question input[readonly]:focus, .qcm-question textarea[readonly], .qcm-question textarea[readonly]:focus {
    border: none;
    background: none;
    resize: none;
    font-size: 16px;
    padding: 10px 0;
}

.qcm-response {
    width: 30%;
}

.qcm-response .wrap-input {
    margin: 0;
    /* background: none; */
}

/* ========= Utilisateur - list ========= */

.tag {
    background: #000;
    color: #f4f9f7;
    padding: 3px 15px;
    margin: 0 5px;
    border-radius: 20px;
    display: inline;
}

.tag-yellow {
    background: coral;
}

.tag-green {
    background: #1a535c;
}

.tag-red {
    background: #d63b53;
}

/* ========= Modal ========= */

.modal-header, .modal h4, .modal .close {
    background-color: #2892d7;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-header {
    padding: 30px 35px;
}

.modal-footer {
    background-color: #f4f9f7;
}

.modal-body {
    font-family: Ubuntu-regular;
    padding: 20px;
}

.modal-body span {
    font-family: Ubuntu-bold;
    color: #07a8a0;
}

.modal-body p {
    font-size: 16px;
    /* border-bottom: 1px solid #2892d7; */
}

.modal-body .user-data {
    font-size: 16px;
    color: #666666;
    padding: 20px 0;
}

.user-data>.date {
    flex: 1;
}

.user-data>.signature {
    flex: 2;
}

.modal-header .close {
    margin-top: -11px;
}

/* ========= TOC ========= */

.toc {
    position: absolute;
    left: 100px;
    top: 520px;
    width: 300px;
    padding: 1em;
    line-height: 2;
}

.toc--top {
    position: fixed;
    left: 100px;
    top: 100px;
    z-index: 10;
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul ul {
    padding-left: 2em;
}

.toc li a {
    display: inline-block;
    color: #808080;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible>a {
    color: #1a535c;
    -webkit-transform: translate(5px);
    transform: translate(5px);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: 'Ubuntu-regular', sans-serif;
}

.contents img {
    max-width: 100%;
}

.contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
}

.contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
}

.contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
}

.contents h2, .contents h3 {
    padding-top: 1em;
}

/* ========= Dropdown ========= */

.swanky {
    perspective: 600px;
    width: 700px;
    position: absolute;
    margin: auto;
    height: 360px;
}

.swanky_title {
    float: right;
    text-align: left;
    width: 400px;
    color: white;
    position: relative;
    top: 70px;
}

.swanky_title__social a {
    position: relative;
    overflow: hidden;
    width: 140px;
    margin-right: 15px;
    text-decoration: none;
    padding: 0px 0px 5px 0px;
    height: 40px;
    border: 2px solid white;
    float: left;
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
}

.swanky_title__social a .slide {
    height: 45px;
    width: 100px;
    float: left;
    position: absolute;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    left: -120px;
    transition-property: left;
    transition-duration: .2s;
    background: white;
}

.swanky_title__social a .slide .arrow {
    position: absolute;
    right: 31px;
    top: 24px;
    opacity: 0;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}

.swanky_title__social a .slide .arrow .stem {
    width: 10px;
    height: 2px;
    background: #858490;
}

.swanky_title__social a .slide .arrow .point {
    width: 6px;
    height: 6px;
    border-right: 2px solid #858490;
    top: -3px;
    right: 1px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 2px solid #858490;
}

.swanky_title__social a img {
    width: 16px;
    margin-left: 10px;
    position: relative;
    margin-right: 8px;
    transition-property: margin-left;
    transition-duration: .1s;
    margin-top: 10px;
    top: 4px;
}

.swanky_title__social a:hover>.slide {
    left: -70px;
    transition-property: left;
    transition-duration: .1s;
}

.swanky_title__social a:hover>img {
    margin-left: 40px;
    transition-property: margin-left;
    transition-duration: .1s;
}

.swanky_title__social a:hover>.slide .arrow {
    right: 11px;
    opacity: 1;
    transition-property: right, opacity;
    transition-delay: .07s;
    transition-duration: .2s;
}

.swanky .intro {
    float: right;
    color: white;
    width: 370px;
    top: 50px;
    position: relative;
}

.swanky .intro h1 {
    text-shadow: 0px 2px rgba(0, 0, 0, 0.26);
}

.swanky .intro p {
    line-height: 20px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.26);
}

.swanky_wrapper {
    width: 225px;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
    background: #2a394f;
}

.swanky_wrapper label {
    padding: 25px;
    float: left;
    height: 72px;
    border-bottom: 1px solid #293649;
    position: relative;
    width: 100%;
    color: #eff4fa;
    transition: text-indent .15s, height .3s;
    box-sizing: border-box;
}

.swanky_wrapper label img {
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 16px;
}

.swanky_wrapper label span {
    position: relative;
    top: -3px;
}

.swanky_wrapper label:hover {
    background: #212e41;
    border-bottom: 1px solid #2A394F;
    text-indent: 4px;
}

.swanky_wrapper label:hover .bar {
    width: 100%;
}

.swanky_wrapper label .bar {
    width: 0px;
    transition: width .15s;
    height: 2px;
    position: absolute;
    display: block;
    background: #355789;
    bottom: 0;
    left: 0;
}

.swanky_wrapper label .lil_arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid white;
    border-right: 2px solid white;
    float: right;
    position: relative;
    top: 6px;
    right: 2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.swanky_wrapper__content {
    position: absolute;
    display: none;
    overflow: hidden;
    left: 0;
    width: 100%;
}

.swanky_wrapper__content li {
    width: 100%;
    opacity: 0;
    left: -100%;
    background: #15a4fa;
    padding: 25px 0px;
    text-indent: 25px;
    box-shadow: 0px 0px #126CA1 inset;
    transition: box-shadow .3s, text-indent .3s;
    position: relative;
}

.swanky_wrapper__content li:hover {
    background: #0c93e4;
    box-shadow: 3px 0px #126CA1 inset;
    transition: box-shadow .3s linear, text-indent .3s linear;
    text-indent: 31px;
}

.swanky_wrapper__content .clear {
    clear: both;
}

input[type='radio']:checked+label .swanky_wrapper__content {
    display: block;
    top: 68px;
    border-bottom: 1px solid #212e41;
}

input[type="radio"]:checked+label>.lil_arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-top: 2px solid #14a3f9;
    border-right: 2px solid #14a3f9;
}

input[type='radio']:checked+label {
    height: 325px;
    background: #212e41;
    text-indent: 4px;
    transition-property: height;
    transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type='radio']:checked+label .bar {
    width: 0;
}

input[type='radio']:checked+label li:nth-of-type(1) {
    -webkit-animation: in 0.15s 0.575s forwards;
    animation: in 0.15s 0.575s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.575s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type='radio']:checked+label li:nth-of-type(2) {
    -webkit-animation: in 0.15s 0.7s forwards;
    animation: in 0.15s 0.7s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.7s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type='radio']:checked+label li:nth-of-type(3) {
    -webkit-animation: in 0.15s 0.825s forwards;
    animation: in 0.15s 0.825s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.825s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type='radio']:checked+label li:nth-of-type(4) {
    -webkit-animation: in 0.15s 0.95s forwards;
    animation: in 0.15s 0.95s forwards;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-animation: in 0.15s 0.95s forwards;
    -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@-webkit-keyframes in {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes in {
    from {
        left: -100%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.love {
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 11px;
    font-weight: normal;
}

.love p {
    color: white;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.love a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.love img {
    position: relative;
    top: 3px;
    margin: 0px 4px;
    width: 10px;
}

.brand {
    position: absolute;
    left: 20px;
    bottom: 14px;
}

.brand img {
    width: 30px;
}