/*
*
*   INDEX
*
*/

.actionBar .glyphicon-search,
.actionBar .glyphicon-refresh {
    -webkit-text-stroke: 0.75px black;
}

.btn-group .glyphicon-search {
    -webkit-text-stroke: 0.75px white;
}

.title-wrapper {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #1a535c;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    display: block;
    padding-top: 60px;
    padding-left: 20px;
}

.title-wrapper span {
    color: #D63B53;
}

td .btn-default {
    border-color: black;
}

.command-view {
    background-color: #55d6be;
}

.command-view:hover {
    background-color: #55d6be;
}

.command-edit {
    background-color: #1a535c;
}

.command-edit:hover {
    background-color: #35595f;
}

.command-delete {
    background-color: #d63b53;
}

.command-delete:hover {
    background-color: #da6375;
}

.command-edit .fa,
.command-view .fa,
.command-delete .fa {
    color: #f4f9f7;
}

/* ========= TABLE ========= */

.bootgrid-footer {
    z-index: -1;
}

.table {
    overflow: hidden;
    margin-bottom: 0;
}

.table th {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    line-height: 1.4;
    background-color: #55d6be;
}

.table th:active, .table th:hover {
    background: #55d6be;
}

.table th span,
.table th {
    color: #f4f9f7;
}

.bootgrid-table tr {
    cursor: pointer;
}

.bootgrid-table td {
    font-family: Ubuntu-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.4;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f8f6ff;
}

.table-hover>tbody>tr:hover {
    background-color: #c2dad5;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 10px;
    white-space: normal;
}

.table-wrapper {
    flex: 1;
}

.pastille {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.pastille__notice {
    background-color: #63D7BE;
}

.pastille__info {
    background-color: #2892D7;
}

.pastille__error {
    background-color: #D63B53;
}

/* ========= PAGINATION ========= */

.pagination li a {
    border: none;
    border-radius: 50%;
    margin: 0 1px;
    color: #808080;
    cursor: pointer;
}

.pagination li:hover a {
    color: #55d6be;
}

.pagination li.active a {
    color: #808080;
    background-color: transparent;
    border: 1px solid #55d6be;
}

.pagination li.active:hover a {
    color: #f4f9f7;
    background-color: #55d6be;
    border-color: #55d6be;
}

.pagination li.last a,
.pagination li.first a {
    border-radius: 50%;
}

/* .pagination li.disabled {
    visibility: hidden;
} */

/* ========= Participant - create ========= */

.form {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.form>ul {
    font-size: 14px;
    color: #f4f9f7;
    background-color: #d63b53;
    padding: 10px 15px;
    margin-bottom: 10px;
}

input[readonly],
textarea[readonly]:focus,
input[readonly]:focus {
    border: 1px solid #d63b53;
}

.container-form {
    width: 100%;
    padding: 50px 0px 55px 0px;
}

.container-form .input {
    height: 42px;
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border-radius: 3px;
    padding: 0 20px;
}

.container-form .wrap-input {
    background-color: transparent;
}

.container-form .focus-input {
    height: calc(100% - 16px);
    top: 16px;
}

.container-form select .focus-input {
    height: calc(100% - 4px);
    top: 4px;
}

.container-form .qcm-flex {
    display: flex;
    flex-flow: column;
}

.container-form .history {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    background-color: #E6E6E6;
    border-left: 1px solid #1D699C;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.container-form .history-icon {
    z-index: 0;
    height: 42px;
    background: url(../img/history.svg) center no-repeat;
    background-size: 55%;
    width: 42px;
    transition: cubic-bezier(1, 0, 0, 1);
}

.container-form .qcm-flex .history-icon {
    height: 58px;
}

.container-form .history-icon:hover {
    filter: invert(31%) sepia(84%) saturate(450%) hue-rotate(160deg) brightness(99%) contrast(97%);
}

.history-markup {
    color: #1a535c;
}

.form-btn-container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.form-btn {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 42px;
    background-color: #2892d7;
    border-radius: 3px;
    transition: all 0.4s;
}

.form-btn:hover {
    color: #fff;
    background-color: #1d699c;
}

.btn-danger {
    background-color: #d63b53;
}

.btn-danger:hover {
    background-color: #a02c3e;
}

.form-btn.btn-default {
    color: #808080;
    background-color: #f4f9f7;
    border: 1px solid #ccc;
}

.form-btn.btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #808080;
}

.form-btn .fa {
    margin-right: 10px;
    color: white;
}

.form-btn.btn-default .fa {
    color: #07a8a0;
}

.form-btn:disabled {
    background-color: #1a535c;
    cursor: not-allowed;
}

.container-form-btn {
    margin-top: 30px;
}

.button-block {
    display: flex;
}

.button-block>* {
    margin-right: 10px;
}

.button-block>*:last-child {
    margin-right: 0px;
}

.form-space {
    margin-bottom: 30px;
}

label,
.col-label,
.row-label {
    font-family: Ubuntu-Regular;
    color: #808080;
    line-height: 1.2;
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.col-label {
    display: flex;
    align-items: center;
    height: 42px;
}

.col-label > .wrap-input {
    font-family: Ubuntu-Bold;
    color: #1a535c;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row-flex .col-flex {
    padding: 0 10px;
}

.row-flex .col-flex:first-child {
    padding-left: 0;
}

.row-flex .col-flex:last-child {
    padding-right: 0;
}

.col-flex-2 {
    flex: 10%;
}

.col-flex-3 {
    flex: 25%;
}

.col-flex-4 {
    flex: 30%;
}

.row-flex .row-label {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #55D6BE;
}

.container-form .col-input textarea {
    padding: 10px 20px;
}

.col-input label {
    margin-bottom: 0;
}

.badge-danger {
    position: relative;
    background-color: #d63b53;
    margin-right: 10px;
    top: -1px;
}

.invalid-feedback {
    top: 65px;
    color: #d63b53;
    position: absolute;
}

/* ========= Participant ========= */

.main {
    position: relative;
    padding-right: 15px;
    padding-left: calc(30% + 15px);
}

.hero-tabs {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: flex-start;
}

.hero-header {
    width: 100%;
    padding: 0 25px 40px;
}

.hero-title {
    margin-bottom: 50px;
}

.hero-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.eligible {
    margin-left: 15px;
    border-left: 1px solid #55d6be;
    padding-left: 10px;
    display: flex;
}

.eligible h1 {
    opacity: 0.6;
    margin-right: 15px;
}

.slide {
    /* min-height: 100vh; */
    position: relative;
    display: none;
    padding-top: 50px;
}

.slide h1 {
    position: relative;
    margin-bottom: 50px;
    font-size: 32px;
}

.hero-tabs h1 span {
    background-color: #55d6be;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.slide h1::before {
    content: "";
    position: absolute;
    border: 0;
    height: 5px;
    background-color: #1d699c;
    width: 66px;
    bottom: -5px;
}

.hero-tabs h3,
.slide h3,
main h3 {
    position: relative;
    display: inline-block;
    opacity: 0.6;
    margin-bottom: 10px;
}

.hero-tabs h5,
.slide h5 {
    position: relative;
    width: fit-content;
    font-size: 18px;
    margin: 10px 0;
}

.slide h5::after {
    content: "";
    position: absolute;
    border: 0;
    height: 8px;
    background-color: rgb(85, 214, 190, 0.5);
    width: 30px;
    bottom: -2px;
    left: -2px;
}

.margin-space {
    margin-bottom: 30px;
}

.separator-space {
    width: 50px;
    height: 1px;
    margin: 10px 0 12px 0;
    background-color: #55d6be;
}

.hero-tabs-container {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 10;
}

.hero-tabs-container--top {
    position: fixed;
    top: 0;
    width: calc(100% - 80px);
}

.hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    padding: 0 5px;
}

.hero-tab:hover {
    color: white;
    background: rgb(59, 189, 166, 0.8);
    transition: all 0.5s ease;
}

.hero-tab,
.hero-tab:visited,
.hero-tab:focus {
    text-decoration: none;
}

.hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #1a535c;
    transition: left 0.3s ease;
}

.hero-text {
    position: absolute;
    color: #f4f9f7;
}

.waiting {
    margin-bottom: 15px;
}

.qcm {
    margin-bottom: 40px;
}

.qcm-row {
    /* margin-bottom: 15px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #1d699c;
}

.qcm-row .input {
    height: 58px;
    margin-bottom: 0;
}

.qcm-question {
    flex: 65%;
    overflow-y: auto;
    height: 58px;
    font-family: Ubuntu-Bold;
    color: #1a535c;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
    padding-right: 5px;
}

.qcm-question input[readonly],
.qcm-question input[readonly]:focus,
.qcm-question textarea[readonly],
.qcm-question textarea[readonly]:focus {
    border: none;
    background: none;
    resize: none;
    font-size: 16px;
    padding: 10px 0;
}

.qcm-response .wrap-input {
    margin: 0;
}

/* ========= Utilisateur - list ========= */

.tag {
    background: #000;
    color: #f4f9f7;
    padding: 3px 15px;
    margin: 0 5px;
    border-radius: 20px;
    display: inline;
}

.tag-yellow {
    background: #ccc;
}

.tag-green {
    background: #1a535c;
}

.tag-red {
    background: #d63b53;
}

.striped {
    background: repeating-linear-gradient( 45deg, #f8f6ff, #f8f6ff 10px, #fff 10px, #fff 20px);
    cursor: not-allowed !important;
}

/* ========= Modal ========= */

.modal-header,
.modal h4,
.modal .close {
    background-color: #2892d7;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-header {
    padding: 30px 35px;
}

.modal-footer {
    background-color: #f4f9f7;
}

.modal-body {
    font-family: Ubuntu-regular;
    padding: 20px;
}

.modal-body span {
    color: #07a8a0;
}

.modal-body p {
    font-size: 16px;
    /* border-bottom: 1px solid #2892d7; */
}

.modal-body .user-data {
    font-size: 16px;
    color: #666666;
    padding: 20px 0;
}

.user-data>.date {
    flex: 1;
}

.user-data>.signature {
    flex: 2;
}

.modal-header .close {
    margin-top: -11px;
}

/* ========= TOC ========= */

.toc {
    z-index: 100;
    position: absolute;
    left: 0px;
    top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.toc--top {
    position: fixed;
    left: 80px;
    top: 0px;
    width: calc(30% - 24px);
}

.toc .sub-menu > ul {
    display: none;
}

.toc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toc ul li a {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #1d699c;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
}

.toc ul li a:hover {
    background: #195781;
}

.toc ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}

.toc ul li a .fa-caret-down {
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge-spe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: Ubuntu-Bold;
    border: 2px solid #D74C53;
    background: #D74C53;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    right: 43px;
    top: 12px;
}

.badge-tab {
    position: initial;
    margin-right: 10px;
}

.badge-tab:last-child {
    margin-right: 0;
}

.badge-completed {
    background-color: #55d6be;
    border-color: #55d6be;
}

.badge-unfinished {
    background-color: transparent;
    color: #333333;
    border-color: #ccc;
}

.badge-error {
    background-color: #D74C53;
    border-color: #D74C53;
}

.toc ul li ul li a {
    position: relative;
    color: #808080;
    background: #e6e6e6;
    border-left: 4px solid transparent;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.toc ul li ul li a:hover {
    background: #999999cc;
    color: #1a535c;
    border-left: 4px solid #1d699c;
}

.menu-title {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Float Right/Left */
.right {
    float: right;
}

.left {
    float: left;
}

/* */

.contents {
    padding: 1em;
    max-width: 800px;
    font-size: 1.2em;
    font-family: 'Ubuntu-regular', sans-serif;
}

.contents img {
    max-width: 100%;
}

.contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
}

.contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
}

.contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
}

.contents h2,
.contents h3 {
    padding-top: 1em;
}

.def {
    padding: 5px;
    border-left: 2px solid #1d699c;
    font-size: 16px;
}

.def span {
    font-weight: bold;
}

.alimentation {
    margin-top: 20px;
}

.alimentation span {
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-left: 2px #333 solid;
}

.alimentation span.green {
    border-color: #55D6BE;
    color:#55D6BE;
}

.alimentation span.orange {
    border-color: orange;
    color: orange;
}

.alimentation span.red {
    border-color: #D63B53;
    color: #D63B53;
}


/**
* ========= ERROR =========
*/

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#notfound .notfound-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

#notfound .notfound-bg>div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #eee;
}

#notfound .notfound-bg>div:nth-child(1) {
    left: 20%;
}

#notfound .notfound-bg>div:nth-child(2) {
    left: 40%
}

#notfound .notfound-bg>div:nth-child(3) {
    left: 60%
}

#notfound .notfound-bg>div:nth-child(4) {
    left: 80%
}

#notfound .notfound-bg>div:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -0.5px;
    -webkit-transform: translateY(-160px);
    -ms-transform: translateY(-160px);
    transform: translateY(-160px);
    height: 160px;
    width: 2px;
    background-color: #55D6BE;
}

@-webkit-keyframes drop {
    90% {
        height: 20px;
    }
    100% {
        height: 160px;
        -webkit-transform: translateY(calc(100vh + 160px));
        transform: translateY(calc(100vh + 160px));
    }
}

@keyframes drop {
    90% {
        height: 20px;
    }
    100% {
        height: 160px;
        -webkit-transform: translateY(calc(100vh + 160px));
        transform: translateY(calc(100vh + 160px));
    }
}

#notfound .notfound-bg>div:nth-child(1):after {
    -webkit-animation: drop 3s infinite linear;
    animation: drop 3s infinite linear;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#notfound .notfound-bg>div:nth-child(2):after {
    -webkit-animation: drop 2s infinite linear;
    animation: drop 2s infinite linear;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

#notfound .notfound-bg>div:nth-child(3):after {
    -webkit-animation: drop 3s infinite linear;
    animation: drop 3s infinite linear;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#notfound .notfound-bg>div:nth-child(4):after {
    -webkit-animation: drop 2s infinite linear;
    animation: drop 2s infinite linear;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.notfound {
    max-width: 705px;
    width: 100%;
    text-align: center;
}

.notfound .notfound-404 {
    height: 210px;
    line-height: 210px;
}

.notfound .notfound-404 h1 {
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 188px;
    font-weight: 700;
    margin: 0px;
    text-shadow: 4px 4px 0px #55D6BE;
}

.notfound h2 {
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.notfound p {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
}

.notfound a {
    font-family: 'Lato', sans-serif;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #55D6BE;
    box-shadow: 0px 0px 0px 2px #000, 2px 2px 0px 2px #55D6BE;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    background-color: #55D6BE;
    -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #55D6BE;
    box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #55D6BE;
}

.notfound-social {
    margin-top: 35px;
}

.notfound-social>a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0px;
    margin: 0px 5px;
}

.notfound-social>a:hover {
    background-color: #55D6BE;
    -webkit-box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #55D6BE;
    box-shadow: 0px 0px 0px 0px #000, 0px 0px 0px 2px #55D6BE;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 122px;
        line-height: 122px;
    }
    .notfound .notfound-404 h1 {
        font-size: 122px;
    }
    .notfound h2 {
        font-size: 26px;
    }
}