/*
*
*   CSS
*
*/

/*
*   COLOR
*/

/*
#2892d7
#d63b53
#f4f9f7
#55d6be
#1a535c
*/

/* ========= FONT ========= */

@font-face {
    font-family: Ubuntu-Regular;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 13px;
    position: relative;
}

input:focus, a:focus, button:focus {
    outline-style: none;
}

::-moz-selection {
    background: white;
}

::selection {
    background: white;
}

/*---------------------------------------------*/

a {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-decoration: none;
}

a:focus {
    outline: none !important;
    color: #1a535c;
}

a:hover {
    text-decoration: none;
    color: #1a535c;
}

/*---------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Ubuntu-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*---------------------------------------------*/

input, textarea, select {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent;
}

input::-webkit-input-placeholder {
    color: #8f8fa1;
}

input:-moz-placeholder {
    color: #8f8fa1;
}

input::-moz-placeholder {
    color: #8f8fa1;
}

input:-ms-input-placeholder {
    color: #8f8fa1;
}

textarea::-webkit-input-placeholder {
    color: #8f8fa1;
}

textarea:-moz-placeholder {
    color: #8f8fa1;
}

textarea::-moz-placeholder {
    color: #8f8fa1;
}

textarea:-ms-input-placeholder {
    color: #8f8fa1;
}

label {
    display: block;
    margin: 0;
}

/*---------------------------------------------*/

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.txt1 {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #2892d7;
    line-height: 1.4;
}

.txt-register {
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-block {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 30px;
}

.flex-block>* {
    margin: 0 0 0 10px !important;
}

.flex-2 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

/* ========= LOGIN ========= */

.container-login {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap-login {
    width: 490px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 50px 30px 55px 30px;
}

.box-login {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 18px;
}

/* ========= BUTTON ========= */

.container-login-form-btn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.login-form-btn {
    font-family: Ubuntu-Bold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    background-color: #2892d7;
    border-radius: 3px;
    transition: all 0.4s;
}

.login-form-btn:hover {
    background-color: #1a535c;
}

/* ========= FORM ========= */

.login-form {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.login-form-title {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    color: #1a535c;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 50px;
}

/* ========= INPUT ========= */

.wrap-input {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 16px;
}

/*---------------------------------------------*/

.input {
    font-family: Ubuntu-Bold;
    color: #1a535c;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
}

.focus-input {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #2892d7;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    transform: scaleX(1.1) scaleY(1.1);
}

.input:focus+.focus-input {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.eff-focus-selection {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.alert {
    width: 100%;
    margin-bottom: 35px;
}

/* ========= CHECKBOX ========= */

.input-checkbox {
    display: none;
}

.label-checkbox {
    font-family: Ubuntu-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.label-checkbox::before {
    content: "\f00c";
    font-family: Font Awesome\ 5 Free;
    font-size: 13px;
    font-weight: 900;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #2892d7;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.input-checkbox:checked+.label-checkbox::before {
    color: #2892d7;
}

/* ========= CHECKBOX ========= */

nav {
    z-index: 1000;
    position: fixed;
}

.sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #313443;
}

.sidebar-navigation ul {
    text-align: center;
    color: white;
}

.sidebar-navigation ul li {
    cursor: pointer;
    transition: all ease-out 120ms;
}

.sidebar-navigation ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 28px 0;
}

.sidebar-navigation ul li a i {
    display: block;
    color: #f4f9f7;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li a .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #313443;
    color: #f4f9f7;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: 0.5px;
    white-space: pre;
}

.sidebar-navigation ul li a .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #22252e;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: #22252e;
}

.sidebar-navigation ul li.active i {
    color: #d63b53;
}

.navbar-wrapper {
    /* position: relative; */
    padding-left: 80px;
    z-index: 0;
}

/* ========= Alert flashbag ========= */

.alerte {
    padding: 20px;
    opacity: 0.9;
    transition: opacity 0.7s;
    margin-bottom: 15px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 10px;
}

.closebtn {
    margin-left: 15px;
    color: inherit;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* ========= RADIO ========= */

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

input[type="radio"]+label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -2px 0px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

input[type="radio"]+label span {
    background-color: #fff;
}

input[type="radio"]:checked+label {
    color: #333;
    font-weight: 700;
}

input[type="radio"]:checked+label span {
    background-color: #2892d7;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
}

input[type="radio"]+label span, input[type="radio"]:checked+label span {
    -webkit-transition: background-color 0.24s linear;
    -o-transition: background-color 0.24s linear;
    -moz-transition: background-color 0.24s linear;
    transition: background-color 0.24s linear;
}

.radio-row {
    display: flex;
    position: relative;
    flex-flow: row;
}

.radio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.radio-container:last-child {
    margin: 0;
}

.radio-container label {
    margin: 0;
}

/* Top scroll
================== */

.cd-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    display: flex;
    bottom: 40px;
    right: 10px;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-btn {
    z-index: 999;
    position: relative;
    display: flex;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: white;
    cursor: pointer !important;
}

.cd-btn .fa {
    position: absolute;
    left: -1px;
    top: 18px;
    font-size: 24px;
}

.cd-btn .fa-check {
    left: -5px;
}

.cd-btn:hover .fa, .cd-btn:focus .fa {
    color: white;
}

.btn-top {
    background: #1D1D2Ccc;
}

.btn-top:hover {
    background: #1D1D2C;
    color: white;
}

.btn-back {
    background: #999999cc;
}

.btn-back:hover {
    background: #999999;
    color: white;
}

.btn-delete {
    background: #E40C2Bcc;
}

.btn-delete:hover {
    background: #E40C2B;
    color: white;
}

.btn-save {
    background: #438945cc;
}

.btn-save:hover {
    background: #438945;
    color: white;
}

.btn-bar {
    display: flex;
}

.btn-bar a, .btn-bar button {
    margin-right: 20px;
}

.cd-top.cd-top--show, .cd-top.cd-top--fade-out, .cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    opacity: .5;
}

.cd-top:hover {
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        right: 35px;
        bottom: 35px;
    }
}

/* Switch
================== */

.tgl {
    display: none;
}

.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl+.tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn:after, .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-skewed+.tgl-btn {
    overflow: hidden;
    border-radius: 5px;
    /* transform: skew(-10deg); */
    backface-visibility: hidden;
    transition: all .2s ease;
    background: #d63b53;
}

.tgl-skewed+.tgl-btn:after, .tgl-skewed+.tgl-btn:before {
    /* transform: skew(10deg); */
    display: inline-block;
    transition: all .2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
}

.tgl-skewed+.tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
}

.tgl-skewed+.tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
}

.tgl-skewed+.tgl-btn:active {
    background: #d63b53;
}

.tgl-skewed+.tgl-btn:active:before {
    left: -10%;
}

.tgl-skewed:checked+.tgl-btn {
    background: #55d6be;
}

.tgl-skewed:checked+.tgl-btn:before {
    left: -100%;
}

.tgl-skewed:checked+.tgl-btn:after {
    left: 0;
}

.tgl-skewed:checked+.tgl-btn:active:after {
    left: 10%;
}