{% extends 'layout.html.twig' %}

{% block title %}
    Attente de validation
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}

    <section class="hero-tabs hero-center">
        <div class="hero-text">
            <h1 class="waiting">Votre compte est en attente de validation.</h1>
            <h3>Vous ne possédez pas encore les droits nécessaires pour naviguer dans l'application.<br/>
            Veuillez contacter votre administrateur pour obtenir les droits d'accès.</h3>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/three.js') }}"></script>
    <script src="{{ asset('js/dna.js') }}"></script>
    <script>
        $('ul li').on('click', function() {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>
{% endblock %}