{% extends 'layout.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootgrid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block page_content %}

    <div class="container-fluid">

        <div class="title-wrapper">
            Liste des utilisateurs
        </div>

        <div class="table-wrapper">
            <table cellspacing="0" class="table table-condensed table-hover table-striped" id="data-grid">
                <thead>
                    <tr>
                        <th data-column-id="id" data-identifier="true" data-searchable="false" data-type="numeric" data-visible="false">Id</th>
                        <th data-column-id="email">Email</th>
                        <th data-column-id="nom">Nom</th>
                        <th data-column-id="prenom">Prénom</th>
                        <th data-column-id="roles" data-formatter="roles">Roles</th>
                        {# <th data-column-id="commands" data-formatter="commands" data-sortable="false" data-width="15%">Actions</th> #}
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootgrid.min.js') }}"></script>
    <script>
        $('li:eq(3)').addClass('active');

        $('ul li').on('click', function() {
            $('li').removeClass('active');
            $(this).addClass('active');
        });
    </script>

    <script>
        var grid = $("#data-grid").bootgrid({
            rowCount: [
                -1, 10, 20, 50
            ],
            columnSelection: false,
            ajax: true,
            requestHandler: function (request) {
                return request;
            },
            url: "{{ path('utilisateur_list') }}",
            formatters: {
                "roles": function(column, row) {
                    return "<div class=\"pastille\"></div>";
                },
            }
        })
    </script>
{% endblock %}