<label for="check-one">
  <input type="checkbox" name="check-one" id="check-one" value="checkone"/>
  <i></i> <span>Check One</span> 
</label>
  
<label for="check-two">
  <input type="checkbox" name="check-two" id="check-two" value="check-two"/>
  <i></i> <span>Check Two</span>
</label>
  
<label for="check-three">
  <input type="checkbox" name="check-three" id="check-three" value="check-three"/>
  <i></i> <span>Check Three</span>
</label>
  
<label for="radio-one">
  <input type="radio" name="exampleRadios" id="radio-one" value="radio-one"/>
  <i></i> <span>Radio One</span> 
</label>

<label for="radio-two">
  <input type="radio" name="exampleRadios" id="radio-two" value="doggie"/>
  <i></i> <span>Radio Two</span> 
</label>