{% extends 'base.html.twig' %}

{% block title %}
    Une erreur est survenue
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>{{ status_code }}</h1>
			</div>
			<h2>{{ status_text }}</h2>
            <p>Quelque chose est cassé. S'il vous plaît laissez-nous savoir ce que vous faisiez lorsque cette erreur s'est produite. Nous allons le réparer dès que possible. Désolé pour tout inconvénient causé.</p>
			<a href="{{ url('onAuthenticationSuccess') }}">Accueil</a>
		</div>
	</div>

{% endblock %}

{% block javascripts %}

{% endblock %}
